<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>GenepointPlatform</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>CharsetEncodingFilter</filter-name>
    <filter-class>com.genepoint.filter.CharsetEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharsetEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>PrivilegesFilter</filter-name>
    <filter-class>com.genepoint.filter.PrivilegesFilter</filter-class>
    <init-param>
      <param-name>excludedPages</param-name>
      <param-value>/admin/login,/developer/login,/developer/register,/developer/activate</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>PrivilegesFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>PrivilegesFilter</filter-name>
    <url-pattern>/developer/*</url-pattern>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>URIFilter</filter-name>
    <filter-class>com.genepoint.filter.URIFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>URIFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>PrivilegesFilter</filter-name>
    <url-pattern>/developer/*</url-pattern>
  </filter-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/error.jsp</location>
  </error-page>
</web-app>